{% extends "base.html" %}
{% block content %}

{% for book in all_books %}
    
    <div class="book">
        <div class="content">
         <hr>
         <p><a href="/books/{{book.id}}">{{book.title}}</a></p>
         <p>{{book.genre}}</p>
         <p>{{book.publisher}}</p>
         <p>{{book.author.full_name()}}</p>
        </div>
        <div class="buttons">
            <form class="delete-button" action="/books/{{book.id}}/delete" method="POST">
                <button class="fa fa-trash-o fa-3x" style="color:red"></button>
            </form>
          </div>
      </div>

{% endfor %}

{% endblock %}

